.input{
    color: white !important;
    border-radius: 10px;
    background-color: rgb(61, 61, 61);
    padding-left: 50px;
}

.iconSearch{
    float: left;
    position: absolute;
    top: 20px;
    z-index: 1;
    margin-left: 12px;
}